In [1]:
import pandas as pd
df=pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df['spam']=df.Category.apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
x=df.Message
y=df.spam

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
x_test_count=v.transform(x_test)
model.score(x_test_count,y_test)

0.9874439461883409

In [13]:
from sklearn.pipeline import Pipeline
clf=Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.9874439461883409

In [15]:
print(x_train)

4909             I'm in solihull, | do you want anything?
2868    Mum, i've sent you many many messages since i ...
929                               Oh all have to come ah?
1594    PRIVATE! Your 2003 Account Statement for shows...
4740                              We have pizza if u want
                              ...
5532             happened here while you were adventuring
5087    Good morning, im suffering from fever and dyse...
5227    I re-met alex nichols from middle school and i...
5143    Hi darlin im on helens fone im gonna b up the ...
1775    Its ok chikku, and its my 1 of favourite song....
Name: Message, Length: 4457, dtype: object